.NavBard05 {
  background-color: white;
  width: 1400px;
  margin-left: 3%;
  margin-top: 10px;
  height: 65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}
.NavFlexbox {
  display: flex;
}
.Go {
  margin-top: 14px;
  margin-left: 50px;
  background-color: #bf0e20;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
/* Milky Nice */
.Go p {
  font-weight: 600;
  padding-top: 5px;
  font-family: "Milky Nice ";
}
.InputUserInterface {
  margin-top: 13px;
  margin-left: 3%;
  width: 70%;
  height: 20px;
}
.InputUserInterface input {
  margin-top: 8px;
  border: none;
  background-color: #e6e6e6;
  opacity: 80%;
  border-radius: 30px;
  width: 100%;
}
.User img {
  width: 50px;
}
.User {
  margin-top: 8px;
  display: flex;
  margin-left: 5%;
}
.User p {
  padding-top: 8px;
  font-size: 25px;
  padding-left: 12px;
}
.NavBar5 {
  margin-bottom: 20px;
}
