.Profiled {
  margin-left: 220px;
  margin-top: 130px;
}
.Profiled img {
  width: 80px;
}
.NameText p {
  font-weight: 600;
  font-size: 25px;
  padding-top: 10px;
}
.Updatea {
  margin-top: 50px;
  text-align: left;
}
.Updatea h3 {
  margin-left: 50px;
  font-weight: 600;
}
.Updatea p {
  font-weight: 600;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 50px;
}
.Ledeer {
  background-color: red;
  width: 500px;
}
.Imagedd {
  width: 200px;
}
.NameTedxturfg {
  margin-right: 150px;
  width: 150px;
}
.NameText {
  width: 200px;
}
