.DashBoardFlex {
  display: flex;
}

.ImageBlock {
  width: 50px;
}
.ImageBlock02 {
  width: 50px;
}
.ImageBlock02 img {
}
.Containte {
  background-color: #2a69b5;
  width: 60px;
  height: 600px;
  margin-top: 10px;
  border-radius: 30px;
}
.Containte img {
  margin-bottom: 80%;
  margin-top: 50%;
  width: 30px;
  margin-left: 10px;
}
.Containte:hover {
  -webkit-transition: 1s;
  background-color: #063064;
  width: 150px;
  border-radius: 50px;
  height: 700px;
}
.Containte:hover .Secation {
  width: 100px;
}
.Containte:hover .ImageBlock {
  display: none;
}
.Containte .ImgaeBinpact img {
  width: 130px;
}
.Containte:hover .Test {
  display: block;
}
/*   -webkit-transition: 1s; */
.ImageBlock01 {
  margin-left: 50px;
}
.ImageBlock01 {
  background-color: red;
}
.Test {
  display: none;
}
.ImgaeBinpact img {
  margin-top: 30px;
  width: 20px;
}
.ImgaeBinpact {
  width: 5px;
}

.ImageBinact img {
  -webkit-transition: 1s;
  margin-bottom: 60px;
  margin-top: 50%;
  width: 30px;
  margin-left: 25px;
}
.ImageBinact {
  margin-top: 50px;
  background-color: #2a65aa;
}
.DashboardFleXbOX {
  display: flex;
}
.Profile {
  display: flex;
}
.Profile p {
  padding-left: 10px;
}
.Graph {
  display: flex;
}
.Agenda {
  display: flex;
}
.Graph {
  display: flex;
}
.LeaderBoard {
  display: flex;
}
.ImageBinact p {
  color: white;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 8px;
}
.DashboardFleXbOX:hover {
  background-color: white;
  opacity: 80%;
}
.Profile:hover {
  background-color: rgb(123, 1, 1);
  opacity: 80%;
}
.Agenda:hover {
  background-color: white;
  opacity: 80%;
}
.Graph:hover {
  background-color: rgb(123, 1, 1);
  opacity: 80%;
}
.LeaderBoard:hover {
  background-color: white;
  opacity: 80%;
}
.Dashboard5 {
  display: flex;
}
.FlexBoxInreface {
  display: flex;
}
