.Produits p {
  font-size:35px;
  font-weight: 500;
  color: #173e7c;
}
.Produits {
  margin-top: 20px;
  height: 110px;
}
.ProduitsFlexBox {
  display: flex;
margin-left: 8%;
  width: 85%;
  flex-wrap: wrap;
}
.ProduitsMap03 {
  background-color: #184981;
  width: 250px;
  height: 330px;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;
}
.ProduitsMap03 :hover {
  transform: scale(1.1);
  transition: transform 1s;
}
.Backgroundhwite {
  background-color: white;
  height: 280px;
}
.Backgroundhwite img {
  width: 150px;
  margin-top: 50px;
  height: 150px;
}
.Text06 {
  font-size: 20px;
  margin-right: 150px;
  margin-top: 10px;
  font-weight: 600;
  display: flex;
  width: 500px;
}
.Text06 p {
  margin-left: 10px;
  margin-right: 5px;
}
.Descraption {
  width: 150px;
  margin-top: 10px;
  margin-left: 10px;
}
.Descraption p {
  text-align: left;
  font-size: 18px;
}
.Descraption {
  border-bottom: 1px solid rgb(151, 151, 151);
  width: 220px;
}
.Prix03 {
  margin-right: 190px;
  margin-top: 5px;
  font-size: 22px;
  font-weight: 600;
}
.Prix03 {
  display: flex;
  margin-left: 10px;
}
.Prix03 p {
  margin-right: 20px;
}
.Trouvez button {
  border: none;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #fe7966;
  color: white;
  font-size: 20px;
}
.ProduitsVoice button {
  border: none;
  background-color: #c12026;
  height: 50px;
  width: 150px;
  padding-top: 10px;
  border-radius: 25px;
  color: white;
  font-size: 20px;
 
  font-weight: 300;
  font-family: "Montserrat", Regular ;
}
.ProduitsVoice {
  margin-bottom: 50px;
}
.ProduitsVoice {
  height: 20px;
}
.azdqa {
  width: 1520px;
  height: 300px;
  margin-top: 80px;
}
.Bdutton button {
  width: 200px;
  border-radius: 30px;
  border: none;
  background-color: #184981;
  color: white;

  padding-top: 8px;
  font-size: 18px;

}

/* ProduitsFlexBox */
@media screen and (max-width: 1500px) {
  .ProduitsFlexBox {
    -webkit-transition: 1s;
    margin-left: 10%;
  }
  .ProduitsMap03 {
  }
}
@media screen and (max-width: 750px) {
  .ProduitsFlexBox {
  }
  .ProduitsMap03 {
    -webkit-transition: 1s;
    margin-left: 150px;
  }
}

@media screen and (max-width: 600px) {
  .ProduitsMap03 {
    -webkit-transition: 1s;
    margin-left: 70px;
  }
}
