.Profile02 {
  background-color: hsl(230, 43%, 97%);
  height: 1500px;
}

.Profile05 {
  background-color: white;
  height: 7%;
  width: 100%;
  display: flex;
}
.Profile05 img {
  margin-left: 20px;
  margin-top: 20px;
  width: 200px;
}
.Imageoda img {
  width: 50px;
}
.Imageoda {
}
.Imageoda {
  margin-top: 20px;
  margin-left: 850px;
}
.Texaxdt5 {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 3px;
  width: 120px;
  font-size: 22px;
  font-weight: 600;
}

.Buttonda button {
  border: none;
  background-color: #bf0e20;
  color: white;
  width: 110px;
  margin-left: 30px;
  border-radius: 30px;
  margin-top: 50px;
}
.Texdt8 {
  display: flex;
}
.Texdt8 p {
  padding-left: 25px;
  font-size: 25px;
  padding-top: 0px;
  font-family: "Montserrat*", Regular *;
}
.Texdt8 h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Montserrat*", Regular *;
  margin-left: 70px;
}
.Texdt8 {
  margin-top: 40px;
  margin-left: 50px;
}
.Card {
  border-radius: 30px;
  background-color: white;
  height: 200px;
  width: 350px;
  margin-top: 30px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ALLCarf {
  display: flex;
  margin-left: 70px;
}
.Card {
  color: #000000;
}
/* }font-weight: 600; */
.Card h3 {
  margin-top: 10px;
  font-weight: 540;
  margin-left: 20px;
  font-size: 40px;
  display: flex;
  height: 35px;
}
.Presntage h3 {
  opacity: 70%;
  display: flex;
  font-size: 50px;
  font-weight: 600;
  margin-left: 20px;
  color: #bf0e20;
}
.BackGroundaq {
  margin-top: 30px;
  background-color: #6585f0;
  color: #6585f0;
  height: 20px;
  width: 310px;
  margin-left: 18px;
  border-radius: 30px;
}
.Text8a {
  display: flex;
  color: #c1c1c1;
  width: 200px;
  padding-left: 0px;
  line-height: 1;
  margin-left: 0px;
}
.Paymen {
  opacity: 75%;

  width: 400px;
  height: 100px;
  margin-left: 40px;

  border-radius: 30px;

  margin-top: 5px;
}
.Paymen p {
  padding-top: 35px;
  font-size: 22px;
  padding-left: 40px;
  text-align: left;
  color: white;
  height: 45px;
}
.Paymen h2 {
  padding-left: 40px;
  text-align: left;
  color: white;
  font-size: 80px;
  height: 50px;
}
.TextPayment p {
  width: 200px;
}
.Paymen02 {
  display: flex;
}
.Paymen02 {
  margin-left: 150px;
  opacity: 80%;
  background-color: #bf0e20;
  width: 800px;
  border-radius: 30px;
  height: 250px;
}
.Image8a img {
  width: 310px;
  margin-bottom: 30px;
}
.VerfactionBar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 9%;
  background-color: rgb(255, 255, 255);
  width: 1200px;
  margin-left: 130px;
  height: 150px;
}
.VerfactionBar img {
  margin-top: 10px;
}
.TextPrestage {
  padding-top: 30px;
  display: flex;
  height: 10px;
}
.TextPrestage {
  margin-left: 35px;
}
.TextPrestage p {
  margin-right: 225px;
  font-size: 25px;
  color: #aaaaaa;
}
.TextPrestange02 {
  position: absolute;
  color: red;
}
.TextPrestage05 {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  position: absolute;
}
.TextPrestage05 p {
  font-size: 20px;
  color: #aaaaaa;
  margin-right: 170px;
}
.Model {
  margin-top: 200px;
}

.LevelBarAD {
  background-image: url("LevelBar.png");
  margin-top: 5px;
  height: 85px;
}
.LevelBarAD p {
  font-size: 40px;
  margin-left: 180px;
}
.Imageoda {
  background-color: red;
}
.Morgana{
  background-color: #2F8FD0;
  font-size: 5px;
  color:#2F8FD0 ;
  border-radius: 20px;
  position: absolute;
  margin-left: 160px;
}