.FlexProgressBard{
    display: flex;
    margin-right: 500px;
    flex-direction: column;

}
.FlexProgressBard div{
   
}
.FlexProgressBard p{
    color: white;
   
}
.Morgana{

    position: absolute;
  
}
.flexBoxProgress02{
    
   display: flex;

}
.BackGround1{
    background-color: #2F8FD0;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 80px;
    
    width: 40px;
    border-radius: 30px;
}
.BackGround2{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 80px;
    
    width: 40px;
    border-radius: 30px;
    background-color: #2F8FD0;
}
.BackGround3{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 80px;
    
    width: 40px;
    border-radius: 30px;
    background-color: #2F8FD0;
}
.BackGround4{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 80px;
    
    width: 40px;
    border-radius: 30px;
    background-color: #2F8FD0;
}
.BackGround5{
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 80px;
    
    width: 40px;
    border-radius: 30px;
    background-color: #2F8FD0;
}
.Profile02{
    background-color:#2A65AA ;
   height: 700px;
   width: 180px;
}
.Profile02{
    padding-top: 20px;
    color: white;
    font-size: 15px;
}
.Profile02 div{
    margin-top: 50px;
}
.Profile02 div:hover{
    background-color: white;
    color: #2A65AA;
    opacity: 60%;
      transition: all 1s;
}