.NavItem02 {
  display: flex;
  background-color: #e6e6e6;
}

/* margin-top: 20px;
  width: 200px;
  margin-bottom: 20px; */
.NavItem02 img {
  -webkit-transition: 2s;
  margin-top: 40px;
  width: 200px;
  margin-left: 50px;
  height: 80px;
  margin-bottom: 20px;
}

.NameProfile img {
  -webkit-transition: 2s;
  width: 50px;
  margin-left: 0%;
  height: 50px;
}
/* line-height: 1.6; */
.NameProfile p {
  -webkit-transition: 2s;
  font-size: 15px;
  font-weight: 600;
  line-height: 0.3;
}
.NameProfile {
  -webkit-transition: 2s;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 900px;
}
.ProductFlex8 {
  -webkit-transition: 2s;
  display: flex;
  margin-left: 20px;
  flex-wrap: wrap;
}
.NameProfile button {
  -webkit-transition: 2s;
  border: none;
  background-color: red;
}
.Button6 button {
  -webkit-transition: 2s;
  border: none;
  background-color: #c12026;
  width: 100px;
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 50px;
  color: white;
}

.BackGround02 {
  -webkit-transition: 2s;
  background-color: #184981;
  color: white;
  animation: Progres03 3s;
}

.Image59 h3{
  -webkit-transition: 2s;
  font-size: 45px;
}
@keyframes Progres03 {
  0% {
    width: 0px;
  }
  50% {
    width: 450px;
  }
}
/* Heere */
@media screen and (max-width: 1500px) {
  .ProductFlex8{
    -webkit-transition: 2s;
    width: 1200px;
    margin-left: 150px;

    
  }
  .Sponsur02{
    -webkit-transition: 2s;
   
  
  }
  .FlexNumber{
    -webkit-transition: 2s;
    margin-top: 1150px;
  }
}
@media screen and (max-width: 1400px) {
  
  .Sponsur02{
    -webkit-transition: 2s;
   margin-top: 1200px;
    
  }
  .FlexNumber{
    -webkit-transition: 2s;
    margin-top: 1100px;
  }
}
@media screen and (max-width: 1300px) {
  .ProductFlex8{
    -webkit-transition: 2s;
    width: 1000px;
    margin-left: 150px;

    
  }
  .Sponsur02{
    -webkit-transition: 2s;
   margin-top: 1800px;
  
  }
}
@media screen and (max-width: 1200px) {
  .ProductFlex8{
    -webkit-transition: 2s;
    width: 1000px;
    margin-left: 150px;
    height: 500px;
    
  }
  .Sponsur02{
    -webkit-transition: 2s;
   margin-top: 1800px;
  
  }
}
@media screen and (max-width: 1100px) {
  .ProductFlex8{
    -webkit-transition: 2s;
    width: 1000px;
    margin-left: 150px;
    height: 500px;
    
  }
  .Sponsur02{
    -webkit-transition: 2s;
   margin-top: 1800px;
  
  }
}