.BackGroundImageCHeck{
    background-image: url('BackGround0897.gif');
    height: 720px;
}
.Verfaction{
    padding-top: 100px;
    
}
.Verfaction p{
    font-size: 12px;
    color: #C01727;
}
.Verfaction h2{
    font-family: "Montserrat",SemiBold;
}
.Yourregstersuscful{
    color: #192F50;
    
}
.Yourregstersuscful h2{
    font-size: 40px;
    font-weight: 600;
}