.BakGroundLogin02{
   
    
}
.DisplayFlex2{
    background-color: rgb(231, 231, 231);
    height: 720px;
    width: 100%;
    display: flex;
    background-image: url('BackGroundImage5.gif');
}
.Inspation{
    padding-top: 50px;
    margin-left:300px;
}
.Inscripation{
   
    color: #3e6993;
}
.Inscripation p{
    font-size: 22px;
    font-weight: 500;
    height: 25px;
}

.Inspation input{
    border: none;
    border-radius: 30px;
    color: #3e6993;
    font-size: 15px;
    height: 40px;
    text-align: center;
    margin-top: 30px;
    width: 330px;
}
.Inspation input::placeholder{
    color: #3e6993;
    text-align: center;
    width:340px;
}
.Inspation h6{
    padding-top: 20px;
  font-size: 10px;
  height: 10px;
    color: #BF1822;
    
}
.Daz button{
    border: none;
    color: white;
    background-color: #BF1822;
    width: 75px;
    margin-top: 5px;
    border-radius: 30px;
    margin-left: 300px;
    height: 35px;
}
.Animation{
    -webkit-transition: 2s;
    margin-top:10px;
    background-color: #C4D6EC;
    margin-left: 280px;
    height: 30px;
    width: 800px;
    border-radius: 30px;
}
.AnimatipnBackGroundBlue{
    background-color: #5693CE;
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px ;
    height: 30px;
    width: 250px;
    animation: BarchCharge 3s;
}

@keyframes BarchCharge{
    0%{
        width: 0px;
    }
    
}
.AnimatedNumber{
    -webkit-transition: 2s;
    position: absolute;
    margin-left: 220px;
    display: flex;
   
  
}
.AnimatedNumber div{
    -webkit-transition: 2s;
    margin-left: 170px;
}
.AniatedNumber1{
    padding-top: 10px;
    background-color:#5B95CC;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: NumberCharge 4s;
}
.AniatedNumber1 p{
    background-color: white;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #5992C9;
    padding-top: 4px;
    border-radius: 50px;
    margin-left: 10px;
   
    
}

.AniatedNumber2{
    padding-top: 10px;
    background-color:#C4D6EC;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: NumberCharge02 3s;
}
.AniatedNumber2 p{
    background-color: white;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #5992C9;
    padding-top: 4px;
    border-radius: 50px;
    margin-left: 10px;
   
    
}
.AniatedNumber3{
    padding-top: 10px;
    background-color:#C4D6EC;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: NumberCharge03 3s;
}
.AniatedNumber3 p{
    background-color: white;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #5992C9;
    padding-top: 4px;
    border-radius: 50px;
    margin-left: 10px;
   
    
}
.AniatedNumber4{
    padding-top: 10px;
    background-color:#C4D6EC;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: NumberCharge04 3s;
}
.AniatedNumber4 p{
    background-color: white;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #5992C9;
    padding-top: 4px;
    border-radius: 50px;
    margin-left: 10px;
   
    
}
@keyframes NumberCharge{
    0%{
        opacity: 0;
        background-color:#C4D6EC;
       
      
    }
   
    100%{
        opacity: 1;
        background-color:#5B95CC;
        
    }
}
@keyframes NumberCharge02{
    0%{
        opacity: 0;
        
       
        
      
    }
   
    100%{
        opacity: 1;
       
       
        
    }
}
@keyframes NumberCharge03{
    0%{
        opacity: 0;
       
        
      
    }
   
    100%{
        opacity: 1;
       
        
    }
}
@keyframes NumberCharge04{
    0%{
        opacity: 0;
       
        
      
    }
   
    100%{
        opacity: 1;
       
        
    }
}
.Accompli{
  display: flex;
  margin-left: 290px;
  margin-top: 20px;
  animation: Accompli 2s infinite ;
   
}
.Accompli span{
    color: #3e6993;
    padding-bottom: 10px;
}
@keyframes Accompli {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Inspation */
@media screen and (max-width: 1500px){
    .Inspation{
        /* -webkit-transition: 1s;
        margin-left: 100px; */
        -webkit-transition: 2s;
        margin-left: 300px;
       
    }
}
@media screen and (max-width: 1300px) {
    .Inspation{
        
        -webkit-transition: 2s;
        margin-left: 300px;
    }
  }

  @media screen and (max-width: 1200px) {
    .Inspation{
        -webkit-transition: 2s;
        margin-left: 200px;
    }
      .Animation{
       
        -webkit-transition: 2s;
       width:700px;
          margin-left: 150px;
      }
      .AnimatedNumber div{
        -webkit-transition: 2s;
        margin-left: 100px;
    }
    
    
    .Animation{
        -webkit-transition: 2s;
        margin-left: 250px;
    }

      
      .AnimatedNumber{
        -webkit-transition: 2s;
          margin-left: 220px;
      }
      .AnimatipnBackGroundBlue{
        -webkit-transition: 2s;
          width: 100px;
      }
    
  }  


    @media screen and (max-width: 1100px) {
    .Inspation{
        -webkit-transition: 2s;
        margin-left: 200px;
        
    } 
    .AnimatedNumber{
        -webkit-transition: 2s;
        margin-left: 200px;
    }
    .Animation{
        -webkit-transition: 2s;
        width: 600px;
    }
    
  }
  @media screen and (max-width: 1000px) {
    .Inspation{
        -webkit-transition: 2s;
        margin-left: 150px;
        
    } 
    .AnimatedNumber{
        -webkit-transition: 2s;
        margin-left: 150px;
    }
    .Animation{
        margin-left: 170px;
    }
  }
  @media screen and (max-width: 850px) {
    .Inspation{
        -webkit-transition: 2s;
    
        margin-left: 100px;
    } 
    .AnimatedNumber{
        -webkit-transition: 2s;
        margin-left: 100px;
    }
    .Animation{
        -webkit-transition: 2s;
        margin-left: 120px;
    }
  }
  @media screen and (max-width: 800px) {
    .Inspation{
        -webkit-transition: 2s;
    
        margin-left: 150px;
    } 
    .AnimatedNumber{
        -webkit-transition: 2s;
        margin-left: 100px;
    }
    .AnimatedNumber div{
        margin-left: 80px;
    }
    .Animation{
        -webkit-transition: 2s;
        margin-left: 120px;
        width: 500px;
    }
  }

  @media screen and (max-width: 600px) {
    .Inspation{
        -webkit-transition: 2s;
        margin-left: 80px;
    }
    .Animation{
        -webkit-transition: 2s;
        margin-left: 50px;
        width: 250px;
    }
    .AnimatedNumber div{
        -webkit-transition: 2s;
        margin-left: 50px;
    }
    .Animation{
        -webkit-transition: 2s;
        width:365px;
    }
    .AnimatedNumber{
        -webkit-transition: 2s;
          margin-left: 55px;
      }
  }
  /* Animation */

.FlexBox{
    margin-left: 53%;
    margin-top: 20px;
}
.Prescedent{
   
    border: none;
    background-color: #A5A5A5;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    height: 20px;
    width: 100px;
}


.Suivant{
    border: none;
    background-color: #BF1822;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    height: 20px;
    width: 100px;
    margin-left: 25px;
}