.MapSlug p{
 
    
}
.Slug h2{
    color:#B2B2B2 ;
    font-size: 12px;
    width: 100px;
    padding-left: 0px; 
    margin-right: 50px;
    margin-top: 10px;
  
}
.Slug{
    margin-left: 10px;
    margin-top: 20px;
    border: solid 1px #9B9B9B;
    border-radius: 30px;
    height: 40px;
    cursor: pointer;
}