.DisplayFlex4{
    display: flex;
    background-image: url('BackGround03.gif');
    height: 720px;
    width: 100%;
}
.Date5 input{
    text-align: center;
    color: #164681;
    padding-left: 50px;
}
.BackGround9{
    display: flex;
    background-color: white;
    width: 330px;
    margin-left: 230px;
}
.BackGround9{
    border-radius: 30px;
    margin-top: 30px;
}
.ErroreDesign h6{
    padding-top: 10px;
}
.ErroreDesign{}
.Adrres {
    width: 100px;
    background-color: blue;
}
.Adrres input{
    -webkit-transition: 2s;
width: 60px;
}
.Addresaa{
    -webkit-transition: 2s;
    display: flex;
    margin-left: 525px;
    background-color: white;
    height: 35px;
    width: 330px;

    border-radius: 50px;
    margin-bottom: 20px;
}
.Addresaa input{
    -webkit-transition: 2s;
    border: none;
    margin-left: 10px;
    border-right: 1px solid black;
    margin-top: 5px;
    width: 95px;
}
.Addresaa input::placeholder{
    -webkit-transition: 2s;
    text-align: center;
    padding-left: 20px;
    font-size: 12px;
    color: #1B497F;
}
.Pays input{
    border: none;
}
.Address01 input{
    -webkit-transition: 2s;
    width: 105px;
}
.AniatedNumber3Bar{
    padding-top: 10px;
    background-color:#1B2E4F;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: NumberCharge03 3s;
}
.AniatedNumber3Bar p{
    background-color: white;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #5992C9;
    padding-top: 4px;
    border-radius: 50px;
    margin-left: 10px;
   
    
}
.AnimatipnBackGroundBlue03{
    -webkit-transition: 2s;
    background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);

    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px ;
    height: 30px;
    width: 670px;
    animation: BarchCharge02 4s;
}
@keyframes BarchCharge02 {
    0%{ 
        width: 0px;
    }
   
    70%{ 
        width: 400px;
    }
    100%{ 
        width: 670px;
    }
}

@media screen and (max-width: 1400px) {
    .Addresaa{
       
        -webkit-transition: 2s;
        display: flex;
        margin-left: 525px;
   
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
    
}
@media screen and (max-width: 1300px) {
    .Addresaa{
        -webkit-transition: 2s;
        display: flex;
        margin-left: 525px;
       
   
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
    .AnimatipnBackGroundBlue03{
        -webkit-transition: 2s;
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
    
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 420px;
        animation: BarchCharge02 4s;
    }
}
@media screen and (max-width: 1200px) {
    .Addresaa{
        -webkit-transition: 2s;
        display: flex;
        margin-left: 410px;
       
   
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1100px) {
    .Addresaa{
        -webkit-transition: 2s;
        display: flex;
        margin-left: 360px; 
        
   
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1100px) {
    .Addresaa{
        -webkit-transition: 2s;
        display: flex;
        margin-left: 360px; 
        
   
        height: 35px;
        width: 330px;
        
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1000px) {
    .Addresaa{
        -webkit-transition: 2s;
        display: flex;
        margin-left: 300px; 
     
   
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 900px) {
    .Addresaa{
        -webkit-transition: 2s;
        display: flex;
        margin-left: 300px; 
       
   
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:850px){
    .Addresaa{
      
        -webkit-transition: 2s;
        display: flex;
        margin-left: 248px; 
       
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:800px) {
    .AnimatipnBackGroundBlue03{
        -webkit-transition: 2s;
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
        
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 380px;
        animation: BarchCharge02 4s;
    }
    .Addresaa{
      
        -webkit-transition: 2s;
        display: flex;
        margin-left: 225px; 
       
        height: 35px;
        width: 330px;
    
        border-radius: 50px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:600px) {
    .Addresaa{
        -webkit-transition: 2s;
        margin-left: 90px;
    }
    .AnimatipnBackGroundBlue03{
        -webkit-transition: 2s;
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
    
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 300px;
        animation: BarchCharge02 4s;
    }
}
.Member01 {
    padding-top: 5px;
    font-size: 15px;
}

.FlexBox05{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}