.DisplayFlex3{
    display: flex;
    background-image: url('BackGround06.gif');
    height: 800px;
    width: 100%;
}

.Accomplid{
    display: flex;
    margin-left: 290px;
   margin-top: 10px;
     
  }
  .Accomplid span{
      color: #3e6993;
      padding-bottom: 10px;
  }
  #Input{
      border: none;
      background-color: none;
      background-color: #192F50;
      
      color: wheat;
  }
  .FileUpload5{
      margin-left: 230px;
     
  }

  .AnimatipnBackGroundBlue01{
    -webkit-transition: 2s;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2D6DB2 0%, #3D7EC1 74%);
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px ;
    height: 30px;
    width: 430px;
    animation: BarchCharge 3s;
}
/* 2D6DB2 */

.AniatedNumber2Bar{
    -webkit-transition: 2s;
    padding-top: 10px;
    background-color:#2B69B1;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: NumberCharge03 7s;
}
@keyframes NumberCharge03 {
    0%{
        background-color: #f3f3f3;
    }
    20%{
        background-color: #f4f4f4;
    }
    40%{
        background-color: #f4f4f4;
    }
    50%{
        background-color: #cacaca;
    }
    100%{
        background-color: #C4D6EC;
    }
}
.AniatedNumber2Bar p{
    -webkit-transition: 2s;
    background-color: white;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #5992C9;
    padding-top: 4px;
    border-radius: 50px;
    margin-left: 10px;
   
    
}
.LederMember{
    -webkit-transition: 2s;
    display: flex;
}
.LederMember{
    -webkit-transition: 2s;
    margin-top: 20px;
    width: 330px;
    height: 45px;
    border-radius: 30px;
    margin-left: 225px;
    background-color: white;
}
.Member p{ 
    font-size: 12px;
}
.LederMember p{
    -webkit-transition: 2s;
   
    margin-top: 14px;
    
}
.Member{
    -webkit-transition: 2s;
    transition-duration: 2s;
    width: 165px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: white;
    cursor: pointer;

}
.Member p{
        font-size: 5px;
}
.leader{
    transition-duration: 1s;
    width: 165px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
}
.AnimatipnBackGroundBlue02{
    
    -webkit-transition: 2s;
    background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
    border-top-left-radius: 30px ;
    border-bottom-left-radius: 30px ;
    height: 30px;
    width: 450px;
    animation: BarchChargee 5s;

}

@keyframes BarchChargee{
    0%{
        width: 0px;
    }
    50%{
        width: 250px;
    }
    100%{
        width: 450px;
    }
    
}

.File {
   
    border: none;
    
}
.File input{
    border: none;
    background-color: none;
}
/* LederMember */
@media screen and (max-width: 1300px) {
    .LederMember{
     
        -webkit-transition: 2s;
        margin-left: 225px;
    }
  }
  @media screen and (max-width: 1200px) {
    .LederMember{
      
        -webkit-transition: 2s;
        margin-left: 210px;
    }
    .FileUpload5{
        -webkit-transition: 2s;
        margin-left: 210px;
       
    }
    .AnimatipnBackGroundBlue02{
        -webkit-transition: 2s;
   
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 300px;
        animation: BarchChargee 5s;
    
    }
  }
  @media screen and (max-width: 1100px) {
    .LederMember{

        -webkit-transition: 2s;
        margin-left: 160px;
    }
    .FileUpload5{
        -webkit-transition: 2s;
        margin-left: 160px;
       
    }
    .AnimatipnBackGroundBlue02{
        -webkit-transition: 2s;
   
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 300px;
        animation: BarchChargee 5s;
    
    }
    
  }
  @media screen and (max-width: 1000px) {
    .LederMember{

        -webkit-transition: 2s;
        margin-left: 143px;
    }
    .FileUpload5{
    
        -webkit-transition: 2s;
        margin-left: 143px;
       
    }
    .AnimatipnBackGroundBlue02{
        -webkit-transition: 2s;
   
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 300px;
        animation: BarchChargee 5s;
    
    }
    
  }
  @media screen and (max-width: 800px) {
    .LederMember{

        -webkit-transition: 2s;
        margin-left: 74px;
    }
    .FileUpload5{
    
        -webkit-transition: 2s;
        margin-left: 74px;
       
    }
    .AnimatipnBackGroundBlue02{
        -webkit-transition: 2s;
   
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 300px;
        animation: BarchChargee 5s;
    
    }
    
  }

  @media screen and (max-width: 600px) {
    .LederMember{
       
        -webkit-transition: 2s;
        margin-left: 10px;
    }
    .FileUpload5{
    
        -webkit-transition: 2s;
        margin-left: 10px;
       
    }
    .AnimatipnBackGroundBlue02{
        -webkit-transition: 2s;
   
        background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);
        border-top-left-radius: 30px ;
        border-bottom-left-radius: 30px ;
        height: 30px;
        width: 200px;
        animation: BarchChargee 5s;
    
    }
    
  }

  .TestModal{
      background-color: red;
    height: 1500px;
    width: 1500px;
      position: absolute;
  }
  .OnTogel{
      display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px;
 
    margin-top: 20px;
    width: 500px;
    flex-wrap: wrap;
    margin-left: 120px;
    
  }
.Test05{
    background-color: white;
    margin-left: 220px;
    margin-top: 30px;
    border-radius: 30px;
    width: 340px;
    display: flex;
}
.Test05 p{
 padding-top: 5px;
    padding-left: 100px;
}
.H6 {
   
    
    margin-bottom: 5px;

    padding-top: 20px;
}
.Precedent2{
    border: none;
    background-color: #BF1822;
    color: white;
    height: 19px;
    border-radius: 20px;
    font-size: 12px;
    width: 100px;
    padding-top: 0px;
}