.Categories{
    margin-top: 100px;
    display: flex;
}
.Categories h1{
    color: #2d538e;
    font-size:25px;
    margin-left: 280px;
}
.Catgpry{
    display: flex;
    flex-wrap: wrap;
   
    margin-left: 280px;
    width: 630px;
    margin-bottom: 100px;
}
.Catgpry p{
    text-align: center;
    width: 180px;
    border-radius: 30px;
    padding-top: 5px;
    border: solid 2px #C3C4C7;
    margin-top: 30px;
    height: 40px;
    AnimatipnBackGroundBlue03color: #aeaeae;
margin-right: 30px;
}
.AnimatipnBackGroundBlue04{
    background-image: linear-gradient(315deg, #1B2E4F 0%, #5693CE 74%);

   border-radius: 30px;
    height: 30px;
    width: 900px;
    animation: BarchCharge04 4s;
}
.AniatedNumber4Bar{
    padding-top: 10px;
    background-color:#1B2E4F;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: NumberCharge04 3s;
}
.AniatedNumber4Bar p{
    background-color: white;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #5992C9;
    padding-top: 4px;
    border-radius: 50px;
    margin-left: 10px;
   
    
}
@keyframes BarchCharge04 {
    0%{
        width: 0;
    }
    25%{
        width: 250px;
    }
    50%{
        width: 500px;
    }
    75%{
        width: 750px;
    }
    100%{
        width: 900px;
    }
}
.File input.file{
    border: none;
    color: red;
}
.Butadw{
    display: flex;
    margin-left: 220px;
}
.Butadw02{
    margin-right: 50px;
}