.MapTrouves {
  margin-top: 100px;
  font-size: 35px;
  margin-bottom: 50px;
}
.Morgunet {
  display: flex;
}
.Morgunet img {
  width: 40%;
  border-radius: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.Morgunet {
  margin-left: 100px;
  margin-bottom: 50px;
}
.Morgunet img:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 600px) {
  .Morgunet img {
    width: 40%;
    border-radius: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .Morgunet {
    margin-left: 0px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .Morgunet img {
    width: 40%;
    border-radius: 100px;
    margin-left: 40px;
    margin-right: 30px;
  }
  .Morgunet {
    margin-left: 0px;
    margin-bottom: 50px;
  }
}
