
.MainFlexBox {
  display: flex;
  margin-left: 5%;
}
.TextFlexBox02 h4 {
  margin-top: 3%;
  font-family: "Montserrat", Bold;
  font-size: 210%;
  font-weight: 600;
  width: 800px;
  padding-left: 250px;
  padding-top: 30px;
  color: white;
  text-align: left;
}

.TextFlexBox02 p {
  line-height: 0.9;
  color: #e6e7e8;
  font-family: "Montserrat";
  font-size:150%;
  line-height: 1cm;
  width: 780px;
  font-weight: 100;
  text-align: justify;
  padding-top: 3%;
  padding-left: 250px;
}

.BackGroundImage6 img {
  width: 65%;
  margin-left: 0%;
  margin-top: 5%;
}
.BackGroundImage6 {
  margin-top: 0px;
}

.Carousel p {
  font-size: 40px;
}
.Carousel {
  margin-top: 100px;
  height: 100px;
}
.MapCarousel {
  margin-top: 20px;
  background-color: #d7ecfb;
  width: 200px;
  height: 180px;
  border-radius: 30px;
}
.MapCarousel {
  margin-left: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.MapCarousel img {
  width: 150px;
}
.MapCarousel p {
  font-size: 28px;
  width: 250px;
  color: #2a65aa;
}
.Text5 p {
  height: 30px;
  font-size: 40px;
  letter-spacing: 3px;
  color: black;
  line-height: 1.6;
}
.Text5 span {
}
.Text5 {
  margin-top: 120px;

  height: 150px;
}
.Text5 span {
  font-size: 28px;
  color: #649acf;
}
.FlexBoxazd {
  display: flex;
}
.MainFlexBox button {
  border: none;
  margin-top: 0px;
  font-family: "Montserrat", Regular ;
  font-size: 19px;
  font-weight: 500;
  background-color: #b10b1c;
  width: 350px;
  height: 50px;
  margin-right: 0px;
  margin-left: 30%;
  padding-left: 30px;
  text-align: left;
  color: white;
  border-radius: 40px;
}
.Text {
  background-color: white;
  color: white;
  height: 400px;
}
.Text03 {
  margin-right: 50px;
}
.Textdz03 {
  background-color: #fe7966;
  color: #fe7966;
  height: 250px;
}
.Loader {
  margin-top: 300px;
  
}
.Loader img{
width: 80px;
height: 80px;
}
.CarouselImage6 {
  background-color: #d7ecfb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  height: 150px;
  border-radius: 20px;
}
.CarouselImage6 img {
  width: 150px;
}
@media screen and (max-width: 600px) {
  .MainFlexBox {
    -webkit-transition: 1s;
    margin-right: 250px;
  }
  .TextFlexBox02 {
    -webkit-transition: 1s;
    margin-right: 150px;
    padding-right: 50px;
  }
  .TextFlexBox02 h4 {
    -webkit-transition: 1s;
    padding-left: 50px;
  }
  .TextFlexBox02 {
  }
  .TextFlexBox02 p {
    -webkit-transition: 1s;
    padding-left: 70px;
    justify-content: center;
  }
  .TextFlexBox02 button {
    -webkit-transition: 1s;
    margin-left: 50px;
  }
  .BackGroundImage6 {
    display: none;
  }
  .MainFlexBox02 {
    margin-bottom: 80px;
    margin-top: 0px;
  }
}
.Input {
  display: flex;
  background-color: white;
  width: 60%;
  height: 5%;
  margin-left: 230px;
  opacity: 60%;
  border-radius: 30px;
}

.Input p {
  opacity: 100%;
  color: rebeccapurple;
}
.Test06 {
  -webkit-transition: 1s;
  position: absolute;
  background-color: rgb(112, 112, 112);
  width: 1530px;
  opacity: 50%;
  height: 1000px;
}
.Test07 {
  margin-top: 50px;
  -webkit-transition: 1s;
  position: absolute;
  background-image: url("Background58.png");

  width: 1100px;
  margin-left: 200px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 150px;
}
.Test08 {
  height: 800px;
}
.Test07 img {
  width: 500px;
}
.Imagec5 {
  
  margin-top: 20px;
  margin-left: 700px;
}
.Imagec5 img {
  width: 500px;
}
.Button08 button {
  background-color: #5893ce;
  width: 150px;
}

.MainFlexBox02 {
  height: 700px;
  width: 100%;
}

.Input5 input {
  position: absolute;
  margin-left: 50px;
}
.Input5 img {
  margin-top: 25px;
  width: 25px;
  position: absolute;
  margin-left: 860px;
}
.Input5 {
  margin-right: 950px;
}
.Space {
  height: 50px;
}
.TextFlexBox02 {
  width: 650px;
  margin-top: 50px;
}
.FlexBox06 {
  display: flex;
}
.adz {
  width: 1500px;
}
.Da button {
  padding-top: 5px;
  background-color: #011f49;
  color: white;
}

.Da span {
  padding-bottom: 10px;
  font-size: 22px;
}
.ModalBoduy button {
  background-color: none;
  border: none;

  margin-left: 50px;
}
.ModalBoduy {
  height: 300px;
  display: flex;
}
.Catgories {
  position: absolute;
  padding-right: 50px;
  height: 400px;
  width: 1000px;
  margin-left: 200px;

  background-image: url("Background58.png");

  border-radius: 18px;
}
.Catgories img {
  margin-left: 100px;
  width: 450px;
  position: absolute;
  margin-left: 50px;
}
.Button5 {
  display: flex;
}
.Button5 button {
  margin-left: 20px;
  background-color: #5793ce;
  width: 120px;
}
@media screen and (max-width: 600px) {
  .TextFlexBox02 button {
    -webkit-transition: 1s;
  }
  .TextFlexBox02 button {
    margin-right: 0%;
  }
}
@media screen and (max-width: 1000px) {
  .TextFlexBox02 p {
    -webkit-transition: 1s;
    padding-left: 30%;

    width: 700px;
  }
  .TextFlexBox02 h4 {
    padding-left: 30%;
    width: 620px;
  }
  .TextFlexBox02 button {
    width: 400px;
    margin-left: 0%;
  }
}
@media screen and (max-width: 900px) {
  .TextFlexBox02 p {
    -webkit-transition: 2s;
    padding-left: 5%;

    width: 100%;
  }
  .TextFlexBox02 h4 {
    -webkit-transition: 2s;
    padding-top: 0;
    width: 500px;
    padding-left: 5%;
  }
  .TextFlexBox02 button {
    -webkit-transition: 2s;
    margin-left: 0%;
  }
  .TextFlexBox02 {
    width: 480px;
    -webkit-transition: 2s;
    margin-top: 5%;
  }
  .BackGroundImage6 img {
    -webkit-transition: 2s;
    margin-top: 120px;
    width: 200px;
  }
}
.Input05 button {
  border: none;
  height: 40px;
  border-radius: 18px;
  background-color: #011f49;
  color: white;
  background-color: none;
}
.Voitre {
  text-align: left;
  width: 10%;
  height: 300px;
  padding-top: 20px;
  font-size: 30px;
  margin-top: 20px;
  padding-left: 4%;
  margin-left: 12%;
  color: white;
  background-color: #011f49;
  width: 330px;
  opacity: 60%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
.Voitre p {
  padding-top: 10px;
  height: 40px;
  cursor: pointer;
}
.Voitre p:hover {
  color: red;
}
