.NavItem {
  background-color: #e6e6e6;
}
.NavItem img {
  margin-top: 20px;
  width: 200px;
  margin-bottom: 20px;
}
.Image {
  display: flex;

  height: 100px;
  width: 250px;
}
.Image img {
  height: 200px;

  width: 300px;
}
.ProductFilter {
  display: flex;

  flex-wrap: wrap;
}
.ProductFilter {
  margin-bottom: 100px;

  margin-left: 50px;
}

.Image {
  margin-top: 30px;
}
.AllProduct {
  border-radius: 15px;
  width: 300px;
  margin-top: 100px;
  margin-left: 50px;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Button02 {
  margin-top: 10px;
}
/*   border: none;
  background-color: none; */

.Button02 button {
  border: none;
  background-color: none;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  color: white;

  background-color: #276bb4;
}
.TextH2 h2 {
  text-align: left;
  padding-top: 100px;
  height: 115px;
  font-family: "Montserrat*", SemiBold *;
  font-size: 22px;

  font-weight: 600;
}
.TextH2 {
  margin-left: 20px;

  width: 250px;
}

.Input05 {
  opacity: 80%;
  width: 80%;
  height: 75px;
  border-radius: 38px;
  margin-left: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.FlexBox p {
  padding-top: 2%;
  font-family: "Corbel";
  font-size: 120%;
  display: flex;
  padding-left: 10px;
  font-weight: 600;
  cursor: pointer;
}

.FlexBox {
  display: flex;
}
.BackImageUr {
  height: 1350px;
}
.Padn {
  color: #dee8f5;
  padding-top: 20px;
}
.FlexBox img {
  width: 50px;
  margin-top: 1%;
  margin-left: 1%;
  height: 50px;
  
}
.FlexBox00{
  display: flex;
}
.FlexBox00 img{
  margin-top: 10px;
  width: 50px;
  height: 50px;
}
.Prix {
  height: 5px;

  color: #c12026;
  display: flex;
}
/* Corbel */
.Prix p {
  font-family: "Corbel";
  font-size: 20px;
  padding-top: 0px;
  padding-left: 20px;
}
.Prix {
  margin-bottom: 100px;
}
.Raddzte {
  height: 50px;
  margin-top: 50px;
  margin-left: 3px;
  box-shadow: rgba(165, 165, 165, 0.19);
}
.Prix {
  height: 1px;
}
/* 2B478B */
.Raddzte span {
  border-radius: 20px;
  color: #2b478b;
  font-size: 23px;
}
.FlexNumber {
  display: flex;
  font-size: 30px;
  margin-left: 35%;
  margin-top: 50px;
  margin-bottom: 80px;
}

.FlexNumber p {
  color: white;
  border-radius: 5px;
  width: 50px;
  margin-left: 30px;
  font-family: "Corbel";
  background-color: #d1def0;
  color: black;
}
.Fada {
  display: flex;
}
.Fada p {
  font-family: "Montserrat*", Regular *;
  font-weight: 500;
  width: 150px;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
  height: 40px;
  padding-left: 0px;
  padding-top: 0px;
  border-right: solid 1px #d1d1d1;
}
/*  font-family: "Montserrat*", Regular *; */
.Fadwa input {
  width: 1000px;
  margin-left: 50px;
  margin-top: 20px;
  height: 40px;
  border-radius: 5px black;
}
.Dazda {
  margin-top: 20px;
  height: 250px;
  margin-left: 400px;
  background-color: red;
  width: 800px;
  opacity: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Image59 img {
  width: 40%;
  height: 40%;
}
.Image59 {
  margin-top: 30px;
  display: flex;
  margin-left: 20%;

  text-align: left;
}
.Image59 h3 {
  font-family: "Montserrat*", SemiBold *;
  font-weight: 600;
  font-size: 400%;
  padding-top: 100px;
  color: #002954;
  padding-left: 50px;
}
.FlexsdNumber {
  position: absolute;
}
/* Resposive here */

.FlexsdNumber {
  display: none;
}
@media screen and (max-width: 1100px) {
  .FlexNumber {
    display: none;
  }

  .FlexsdNumber {
    -webkit-transition: 1s;
    display: flex;
    font-size: 30px;
    margin-top: 1100px;
    margin-left: 350px;
  }
  .FlexsdNumber p {
    -webkit-transition: 1s;
    color: white;
    border-radius: 5px;
    width: 50px;
    margin-left: 30px;
    font-family: "Corbel";
    background-color: #d1def0;
    color: black;
  }
}
@media screen and (max-width: 1000px) {
  .FlexNumber {
    display: none;
  }

  .FlexsdNumber {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .FlexNumber {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .Image59 h3 {
    -webkit-transition: 1s;
    font-family: "Montserrat*", SemiBold *;
    font-weight: 600;
    font-size: 250%;
    padding-top: 100px;
    color: #002954;
    padding-left: 50px;
  }
  .Image59 img {
    -webkit-transition: 1s;
    width: 40%;
    height: 40%;
  }
  .Image59 {
    -webkit-transition: 1s;
    margin-top: 10px;
    display: flex;
    margin-left: 10%;

    text-align: left;
  }
}
@media screen and (max-width: 1200px) {
  .Image59 h3 {
    -webkit-transition: 1s;
  }
  .Image59 img {
    -webkit-transition: 1s;
  }
  .Image59 {
    -webkit-transition: 1s;
  }
}
.Prix {
  display: flex;
}
.Prix span {
  color: #000d36;
}
.Rate {
  margin-left: 5px;
  margin-top: 10px;

  color: #2b478b;
  padding-left: 30px;
}
.Rate span {
  font-size: 20px;
  border-radius: 50px;
}
.daz {
  margin-top: 10px;
  display: flex;
  color: white;
  width: 120px;
  border-radius: 13px;
  cursor: pointer;
  margin-left: 20px;
  background-color: #c12026;
  height: 30px;
}
.HightTech {
  display: flex;
  height: 28px;
  margin-top: 10px;
}
.HightTech img {
}
.TextH2 h2 {
  margin-top: 25px;
}
.LikeImage {
  height: 800px;
  margin-top: 110px;
  position: absolute;
  margin-left: 220px;
}
.HightTech p {
  font-family: "Montserrat*", Regular *;
  line-height: 0.8;
  font-size: 12px;
  height: 10px;
  color: #999999;

  padding-left: 2px;

  padding-right: 10px;
  border-right: solid 2px #b6b6b6;
}
.Samunge {
  display: flex;
  margin-left: 2px;
}
.Samunge p {
  padding-right: 10px;
  padding-left: 10px;
}
.PhoneName p {
  color: #999999;
  border: none;
}
.HightTechazd {
  display: flex;
  margin-top: 10px;
}
.Etat {
  margin-left: 2px;
  display: flex;
  height: 20px;
}
.Etat h3 {
  padding-top: 3px;
  font-weight: 600;
  font-size: 18px;
}
.Etat p {
  color: #39b54a;
  font-size: 18px;
}
.Descraption p {
  padding-right: 0px;
  width: 370px;
  font-size: 12px;
  border: none;
 
  padding-right: 100px;
  text-align: left;
}

/*  margin-left: 0px;
  margin-right: 0px; */
.Descraption {
  border: none;
  margin-left: 5px;
  height: 50px;
}
.PrixAll {
  display: flex;
}

.Prix8 {
  display: flex;
  height: 60px;

  width: 260px;
}
.Prix8 p {
  font-size: 20px;
  padding-left: 10px;
  font-family: "Montserrat*", Regular *;
  font-weight: 300;
}
.ImageProfile {
  position: absolute;
  margin-left: 210px;
  margin-top: 80px;
}
.ImageProfile img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}
.Text08P {
  display: flex;
  position: absolute;
  margin-left: 190px;
  width: 250px;
  margin-top: 70px;
}
.Text08P p {
  color: white;
  font-size: 14px;
}
.Sponsur02 {
  margin-top: 700px;
  background-color: #00123a;
  height: 700px;
  color: white;
}
/* Resposive */

/* .FlexNumber {
  margin-top: 550px;
  position: absolute;
} */

@media screen and (max-width: 1400px) {
  .Sponsur02 {
    -webkit-transition: 1s;

    color: white;
    background-color: #00123a;
  }
}
@media screen and (max-width: 1150px) {
  .Sponsur02 {
    -webkit-transition: 1s;

    color: white;
  }
}
@media screen and (max-width: 1100px) {
  .Sponsur02 {
    -webkit-transition: 1s;
    margin-top: 120%;
    height: 700px;
    color: white;
    background-color: #00123a;
  }
}
@media screen and (max-width: 900px) {
  .Sponsur02 {
    -webkit-transition: 1s;
    margin-top: 140%;
    color: white;
    height: 300px;
    background-color: #00123a;
  }
}
@media screen and (max-width: 800px) {
  .Sponsur02 {
    -webkit-transition: 1s;
    margin-top: 180%;
    color: white;
    background-color: #00123a;
  }
}
@media screen and (max-width: 700px) {
  .Sponsur02 {
    -webkit-transition: 1s;
    margin-top: 330%;
    height: 300px;
    color: white;
    background-color: #00123a;
  }
}

@media screen and (max-width: 600px) {
  .Sponsur02 {
    margin-top: 450%;
    color: white;
    background-color: #00123a;
    height: 300px;
  }
}

.Sponsur02 p {
  color: white;
}
.Sponsur02 h1 {
  color: white;
}
.FlexNumber {
  margin-top: 550px;
  position: absolute;
}
.Daties {
  display: flex;
  margin-left: 20px;
  border-top: 1px solid #c9c9c9;
  width: 250px;
}
/* Montserrat* */
.Daties p {
  padding-left: 3px;
  color: #2b478b;
  margin-bottom: 20px;
  margin-top: 5px;
  height: 15px;
  font-size: 12px;
}
.Time {
  margin-left: 60px;
  display: flex;
}
.Time p {
  padding-left: 5px;
  color: #999999;
}
.TimeImage{
  margin-top: 10px;
}
.gpsImage{
  margin-top: 10px;
}