.Sponsoure {
  margin-top: 150px;
  background-color: #00123a;
  height: 400px;
  width: 1520px;
}

.Sponsur {
  background-color: #e6e6e6;
  height: 600px;
}
.H1 {
  color: black;
  display: flex;
  width: 250px;
  text-align: center;
}
.H1 h1 {
  margin-left: 250px;
  margin-top: 80px;
  text-align: center;
}
.TextSponsur {
  display: flex;
}
.TextSponsour01 {
  margin-left: 80px;
  border-right: solid 2px black;
  font-size: 20px;
  margin-top: 30px;
  width: 250px;
  color: black;
  text-align: left;
}
.DADZ {
  color: BLUE;
}
.FlexBoxTsext06 {
  display: flex;
  color: black;
  font-size: 15px;
}
.FlexBoxTsext06 p {
  margin-left: 50px;
}
#Loisir {
  padding-left: 20px;
}
#Buerau {
  padding-right: 80px;
}
#Bircolagge {
  padding-left: 10px;
}
#PourVous {
  padding-left: 5px;
}
.FlexBox07 {
  margin-top: 30px;
  margin-left: 40px;
  border-right: 2px solid black;
  width: 500px;
  height: 150px;
}
.Dazd {
  font-size: 22px;
  color: black;
  text-align: left;
  margin-left: 50px;
  margin-top: 30px;
  margin-right: 100px;
}
.TextSponsur {
  margin-left: 130px;
}
#Liens {
  padding-right: 50px;
  margin-left: 250px;
}
.InscrivesVous {
  font-family: "Arial";
  color: #276bb4;
  margin-top: 50px;
  font-size: 35px;
}
.InputInscrevie {
  margin-right: 30px;
  margin-left: 20px;
}
.InputInscrevie input {
  border: none;
  border-radius: 15px;
  height: 30px;
  background-color: #5793ce;
  width: 350px;
}
.InputInscrevie ::placeholder {
  color: white;
  padding-right: 200px;
  padding-bottom: 20px;
  font-size: 20px;
}
.InputInscrevie {
  margin-bottom: 20px;
}
.Flash089 img {
  width: 50px;
}
.Sponsur6 {
  background-color: #c12026;
  height: 200px;
}
.Sponsur6 {
  padding-top: 80px;
  color: white;
  font-size: 22px;
}
.Sponsur6 p {
  height: 10px;
}
@media screen and (max-width: 600px) {
  .H1 h1 {
    padding: 0px;
    padding-left: 10px;
    font-size: 30px;
    margin-left: 80px;
  }
  .H1 {
    padding-left: 50px;

    width: 450px;
  }
  .TextSponsur {
    margin-left: 0px;
  }
  #Liens {
    padding-left: 0px;
    margin-left: 0px;
    width: 50px;
  }
  .TextSponsour01 {
    width: 500px;
    margin-left: 30px;
    font-size: 15px;
    height: 100px;
  }
  .TextSponsour01 p {
    padding-left: 10px;
    width: 150px;
  }
  .FlexBox07 {
    font-size: 15px;

    padding-left: 0px;
    padding-right: 0px;
    margin-left: 10px;
  }
  .FlexBox07 p {
    text-align: left;
    padding-left: 0px;
    height: 20px;
    width: 100px;

    font-size: 15px;
  }
  .FlexBoxTsext06 {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .FlexBoxTsext06 p {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }
  .TextSponsour01 {
    margin-left: 0px;
  }
  .FlexBoxTsext06 {
    margin-left: 20px;
  }

  .FlexBoxTsext06 p {
    width: 80px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .FlexBox07 {
    text-align: center;
    width: 240px;
    height: 100px;
  }
  #Loisir {
    padding-left: 10px;
  }
  #Buerau {
    padding-right: 10px;
    padding-left: 10px;
  }
  .Dazd {
    font-size: 14px;
  }
  .Dazd {
    margin-left: 20px;
  }
  .Dazd p {
    width: 250px;
  }
  .H1 h1 {
    margin-left: 30px;
  }
  .H1 {
    margin-left: 30px;
  }
  #Liens {
    padding-left: 1px;
    padding-right: 10px;
    margin-left: 0px;
  }
  #Liens h1 {
    width: 50px;
  }
  .Flash8 img {
    width: 50px;
  }
  .Sponsur6 p {
    font-size: 18px;
    height: 23px;
  }
}
@media screen and (max-width: 1000px) {
  .H1 h1 {
    text-align: center;
    font-size: 30px;
  }
  .H1 {
    padding-left: 10%;
  }
  .TextSponsur {
    margin-left: 0px;
  }
  #Liens {
    padding-left: 0px;
    margin-left: 0px;
    width: 50%;
  }
  .TextSponsour01 {
    width: 500px;
    margin-left: 30px;
    font-size: 15px;
    height: 100px;
  }
  .TextSponsour01 p {
    padding-left: 10px;
    width: 150px;
  }
  .FlexBox07 {
    font-size: 15px;

    padding-left: 0px;
    padding-right: 0px;
    margin-left: 3%;
  }
  .FlexBox07 p {
    text-align: left;
    padding-left: 0px;
    height: 20px;
    width: 100px;

    font-size: 15px;
  }
  .FlexBoxTsext06 {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
  }
  .FlexBoxTsext06 p {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
  }
  .TextSponsour01 {
    margin-left: 0px;
  }
  .FlexBoxTsext06 {
    margin-left: 20px;
  }

  .FlexBoxTsext06 p {
    width: 80px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .FlexBox07 {
    text-align: center;
    width: 240px;
    height: 100px;
  }
  #Loisir {
    padding-left: 10px;
  }
  #Buerau {
    padding-right: 10px;
    padding-left: 10px;
  }
  .Dazd {
    font-size: 14px;
  }
  .Dazd {
    margin-left: 20px;
  }
  .Dazd p {
    width: 250px;
  }
  .H1 h1 {
    margin-left: 70px;
  }
  .H1 {
    margin-left: 30px;
  }
  #Liens {
    padding-left: 1px;
    padding-right: 10px;
    margin-left: 0px;
  }
  #Liens h1 {
    width: 50px;
  }
  .Flash8 img {
    width: 50px;
  }
  .Sponsur6 p {
    font-size: 18px;
    height: 23px;
  }
  .TextSponnsurall {
    display: none;
  }
  .Sponsur {
    height: 300px;
  }
  .InscrivesVous {
    padding-top: 50px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .Sponsur6 p{
    -webkit-transition: 2s;
    font-size: 20px;
    width: 600px;
    height: 50px;
    margin-left: 100px;

  }
  
}
@media screen and (max-width: 600px) {
  .Sponsur6 p{
    -webkit-transition: 2s;
    font-size: 12px;
    width: 300px;
    height: 50px;
    margin-left: 50px;
    
  }
  
}
@media screen and (max-width: 700px) {
  .Sponsur6 p{
    -webkit-transition: 2s;
    font-size: 15px;
    width: 80%;
    height: 50px;
   

  }
  
}