.BackgroundPhoto {
  background-image: url("BacgroundTest07.png");
  height: 500px;
}
.BackgroundPhoto {
  display: flex;
}
.BackgroundPhoto {
  margin-top: 50px;
}
.BackGroundPola {
  margin-top: 200px;
  margin-left: 150px;
}
.dzdqz {
  margin-top: 120px;
  margin-left: 250px;

  width: 270px;
}

.dzdqz03 img {
  box-shadow: 20px 20px 50px grey;
  margin-right: 150px;
}
.ImageTable6 {
  margin-top: 50px;
  margin-right: 250px;
}
.Wissemoa {
  margin-left: 90px;
}
.Radio img {
  margin-right: 80px;
  margin-bottom: 50px;
}
.ImageTable6 {
  height: 500px;
  margin-top: 150px;
}
.Radio img {
  box-shadow: 20px 20px 50px grey;
}
.dzdqz {
  margin-top: 150px;
  margin-left: 10px;
}
.Image5896 img {
  width: 250px;
  margin-top: 20px;
}
.Image5896 {
  margin-top: 20px;
  margin-left: 150px;
}
.Image8 img {
  margin-top: 70px;
  margin-left: 10px;
  width: 400px;
}
/* BackgroundPhoto */
@media screen and (max-width: 600px) {
  .BackgroundPhoto img {
    width: 150px;
  }
  .BackgroundPhoto {
    display: flex;
    height: 300px;
    width: 500px;
  }
  .Image8 {
    display: none;
  }
  .Image5896 {
    margin-top: 50px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 1500px) {}
@media screen and (max-width: 1400px) {
  .BackgroundPhoto img {
    -webkit-transition: 1s;
    width: 150px;
    
  }
  .BackgroundPhoto {
    -webkit-transition: 1s;
    display: flex;
    height: 300px;
    width: 100%;
  }
  .Image8 img {
    -webkit-transition: 1s;

    width: 220px;
    height: 250px;
    display: flex;
  }
  .Image5896 {
    -webkit-transition: 1s;
    margin-top: 50px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 600px) {
  .BackgroundPhoto img {
    -webkit-transition: 1s;
    width: 150px;
  }
  .BackgroundPhoto {
    -webkit-transition: 1s;
    display: flex;
    height: 300px;
    width: 500px;
  }
  .Image8 {
    -webkit-transition: 1s;
    display: none;
  }
  .Image5896 {
    -webkit-transition: 1s;
    margin-top: 50px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .BackgroundPhoto img {
    -webkit-transition: 1s;
    width: 150px;
  }
  .BackgroundPhoto {
    -webkit-transition: 1s;
    display: flex;
    height: 300px;
    width: 100%;
  }
  .Image8 {
    -webkit-transition: 1s;
    display: none;
  }
  .Image5896 {
    -webkit-transition: 1s;
    margin-top: 50px;
    margin-left: 30%;
  }
}
@media screen and (max-width: 1200px) {
  .BackgroundPhoto img {
    
    -webkit-transition: 1s;
    width: 150px;
  }
  .BackgroundPhoto {
    -webkit-transition: 1s;
    display: flex;
    height: 300px;
    width: 100%;
  }
  .Image8 {
    -webkit-transition: 1s;
    display: none;
  }
  .Image5896 {
    -webkit-transition: 1s;
    margin-top: 50px;
    margin-left: 30%;
  }

}
@media screen and (max-width: 600px) {
  .Noteetavis {
    -webkit-transition: 2s;
    padding-left: 3%;
  }
}
.Noteetavis p {
  -webkit-transition: 2s;
  height: 20px;
  font-size: 150%;
}
.Noteetavis {
  -webkit-transition: 2s;
  margin-top: 10%;
  margin-left: 15%;
}
.Noteetavis span {
  -webkit-transition: 2s;
  border-radius: 30px;
  color: #2a458a;
  font-size: 150%;
}
.Noteetavis h1 {
  -webkit-transition: 2s;
  height: 10px;
  font-size: 600%;
  opacity: 60%;
}
.Avs {
  -webkit-transition: 2s;
  margin-top: 10%;
  margin-left: 15%;
}
.Avs h2 {
  -webkit-transition: 2s;
  font-size: 150%;
  height: 20px;
}
.Avs p {
  -webkit-transition: 2s;
  height: 5%;
}
.Avs span {
  -webkit-transition: 2s;
  font-size: 200%;

  color: #2a458a;
}
.Avs h3 {
  -webkit-transition: 2s;
  font-family: Arial, Helvetica, sans-serif;
  color: #c01c23;
  font-size: 15px;
  padding-right: 30px;
  font-weight: 600;
}
.Image8 {
  -webkit-transition: 2s;
  margin-left: 100px;
}
@media screen and (max-width: 700px) {
  .Noteetavis{
    -webkit-transition: 2s;
    padding-top: 53px;
    font-size: 13px;
  }
  .Avs{
    -webkit-transition: 2s;
    padding-top: 55px;
  }
}
@media screen and (max-width: 640px) {
  .Noteetavis{
    -webkit-transition: 2s;
    padding-top: 80px;
    font-size: 10px;
  }
  .Avs{
    -webkit-transition: 2s;
    font-size: 10px;
    padding-top: 85px;
  }
  .Avs h3{
    -webkit-transition: 2s;
    font-size: 14px;
    padding-left: 30px;
    padding-top: 10px;
  }
}